/*MEF = mise en forme etape 4 hautin pierre javaFx*/
/*MEF root */
.root{
	-fx-background-color: #87CEFA;
	-fx-alignment: center;
	-fx-hgap: 10;
	-fx-vgap: 10;
}
/*MEF grid des resultats */
#mefGridRes{
	-fx-border-color: #395B95;
	-fx-alignment: center;
	-fx-hgap: 10;
	-fx-vgap: 10;
}
/*MEF grid des bouton */
#mefGridBtn{
	-fx-alignment: center;
	-fx-hgap: 10;
	-fx-vgap: 10;
}
/*MEF grid des saisie */
#mefGridSaisie{
	-fx-alignment: center;
	-fx-hgap: 80;
	-fx-vgap: 10;
}
/*MEF bouton */
.button{
	-fx-background-color: #90EE90;
	-fx-border-color: #000000;
	-fx-text-fill: blue ;
	-fx-alignment: center ;
}
/*scnTitle = MEF calculatrice */
#scnTitle{
	-fx-font-size: 40 px;
	-fx-font-weight: bold;
	-fx-font-family: arial;
}

/*MEF color resultat */
#mefRes{
	-fx-text-fill: firebrick ;
}
/*MEF userRes color */
#mefuserRes{
	-fx-text-fill: firebrick ;
}